.upgradedItem {
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: #ff4040;
}
.downgradedItem {
    border-style: solid;
    border-width: 0px 5px 0px 0px;
    border-color: #4040ff;

}